*.iml
.gradle/
local.properties
build/
app/build/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures/
/.externalNativeBuild/
.cxx/
*.log
gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties
/proguard/
*.tmp
*.temp
/generated/
crashlytics.properties
.navigation/
*.ec
*.em
*.eml
lint/
*.jks
